<div class="header-wrapper" [class.shrunk]="isShrunk">
  <div class="logo-and-title-wrapper">
    <a href="/">
      <img src="../../../assets/thumbtack-icon.png" class="logo" />
    </a>
    <div class="title-wrapper">
      <img src="../../../assets/thumbtack-name.png" class="title" />
      <p>Post whatever you want!</p>
    </div>
  </div>

  <form class="search-form">
    <mat-form-field class="search-field">
      @if (isLoading) {
      <mat-spinner
        matPrefix
        class="loading-spinner"
        diameter="20"
      ></mat-spinner>
      } @else {
      <mat-icon matPrefix class="search-icon" diameter="20">search</mat-icon>
      }

      <input
        matInput
        type="text"
        placeholder="Search..."
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        class="search-input"
      />

      <button
        matSuffix
        mat-button
        [disabled]="!searchControl.value"
        class="search-button primary-button"
        (click)="handleSearchClick()"
      >
        Search
      </button>

      <mat-autocomplete #auto="matAutocomplete">
        @for (option of options; track option) {
        <mat-option (click)="handleOptionClick(option)">
          <div class="autocomplete-option">
            <span>{{ option.title }}</span>
            @if (option.thumbnail) {
            <img
              [src]="getThumbnailUrl(option)"
              alt="Post thumbnail"
              class="autocomplete-image"
            />
            }
          </div>
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
