.header-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid #07224d;
}

.logo {
    height: 90px;
    border-radius: 90px;
    margin-left: 5px;
}

.logo-and-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;

    .title {
        height: 60px;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

.search-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    .search-input {
        width: 100%;
        max-width: 600px;
        height: 40px;
        border-radius: 20px;
        border: none;
        color: #07224d;
        padding: 0 10px;
        margin: 0 20px;
        font-size: 16px;
    }
}