<div class="header-wrapper" [class.shrunk]="isShrunk">
  <div class="logo-and-title-wrapper">
    <a href="/">
      <img src="../../../assets/thumbtack-icon.jpg" class="logo" />
    </a>
    <div class="title-wrapper">
      <img src="../../../assets/thumbtack-name.jpg" class="title" />
      <p>Post whatever you want!</p>
    </div>
  </div>

  <form class="search-form">
    <mat-form-field class="search-field">
      <mat-icon matPrefix class="search-icon">search</mat-icon>
      <input
        matInput
        type="text"
        placeholder="Search..."
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        class="search-input"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of options; track option) {
        <mat-option [value]="option">
          <div class="autocomplete-option">
            <span>{{ option.title }}</span>
            @if (option.image) {
            <img
              [src]="option.image"
              alt="Post image"
              class="autocomplete-image"
            />
            }
          </div>
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <!-- <div class="user-actions-wrapper">
    <mat-icon matTooltip="Settings" aria-hidden="false" aria-label="Settings">
      settings
    </mat-icon>
    <mat-icon
      matTooltip="Account"
      aria-hidden="false"
      aria-label="Account Circle"
    >
      account_circle
    </mat-icon>
    <mat-icon
      matTooltip="Notifications"
      aria-hidden="false"
      aria-label="Notifications"
    >
      notifications
    </mat-icon>
    <mat-icon matTooltip="Messages" aria-hidden="false" aria-label="Messages">
      message
    </mat-icon>
    <mat-icon matTooltip="Logout" aria-hidden="false" aria-label="Logout">
      logout
    </mat-icon>
  </div> -->
</div>
