:root {
  --mat-focus-color: var(--primary-light);
}

mat-form-field {
  --mdc-filled-text-field-focus-active-indicator-color: unset;
  --mdc-outlined-text-field-focus-outline-color: unset;
  --mdc-text-field-ink-color: unset;
}

.header-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Trebuchet MS", sans-serif;
  border-bottom: 1px solid var(--primary-purple);
  padding: 20px 0;
  position: sticky;
  top: 0;
  background-color: var(--background-gradient-sides);
  z-index: 1000;
  transition: height 0.3s ease-in-out;
}

.header-wrapper.shrunk {
  height: 56px;
  border-bottom: none;
}

.header-wrapper.shrunk .logo {
  height: 50px;
}

.header-wrapper.shrunk .title {
  height: 50px;
}

.header-wrapper.shrunk p {
  font-size: 12px;
}

.header-wrapper.shrunk mat-form-field {
  max-height: 56px !important;
}

.header-wrapper.shrunk ::ng-deep .mat-mdc-text-field-wrapper {
  width: 100% !important;
  max-width: 400px !important;
  border-radius: 20px 20px 0 0 !important;
  background-color: transparent !important;
  border: none !important;
  color: var(--primary-dark) !important;
  padding: 8px !important;
  margin: 0 10px !important;
  font-size: 14px !important;
  display: flex !important;
  align-items: center !important;
}

.header-wrapper.shrunk ::ng-deep .mdc-floating-label {
  font-size: 14px !important;
  opacity: 1 !important;
  transform: translateY(10px) scale(0.9) !important;
}

.header-wrapper.shrunk ::ng-deep .mat-mdc-icon {
  font-size: 18px !important;
  opacity: 1 !important;
}

.header-wrapper.shrunk .search-input {
  color: var(--text-color) !important;
  font-size: 14px !important;
}

.logo {
  height: 90px;
  border-radius: 90px;
  margin-left: 5px;
}

.logo-and-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;

  .title {
    height: 60px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.search-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
  margin-top: 10px;
}

.search-button {
  background-color: pink;
  &:hover {
    background-color: var(--primary-purple-hover);
  }
  &:disabled {
    background-color: var(--button-disabled);
  }
}

mat-form-field {
  width: 100% !important;
  max-width: 600px !important;
  margin-left: 20px;
}

/* TODO: don't use ::ng-deep */
::ng-deep .mat-mdc-text-field-wrapper {
  width: 100% !important;
  max-width: 600px !important;
  border-radius: 20px 20px 0 0 !important;
  background-color: transparent !important;
  border: none !important;
  color: var(--primary-dark) !important;
  padding: 0 10px !important;
  margin: 0 20px !important;
  font-size: 16px !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  width: 100% !important;
}

.search-input {
  color: var(--text-color) !important;
}

.autocomplete-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.autocomplete-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 10px;
}

.material-icons {
  color: var(--text-color);
  margin: 5px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--text-color);
  margin: 0 20px;
}
