.header-wrapper {
  width: 100%;
  height: 100px; /* TODO: change to 56px when scrolling down */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Trebuchet MS", sans-serif;
  border-bottom: 1px solid #07224d;
}

.logo {
  height: 90px;
  border-radius: 90px;
  margin-left: 5px;
}

.logo-and-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;

  .title {
    height: 60px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.search-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
  margin-top: 10px;
}

mat-form-field {
  width: 100% !important;
  max-width: 600px !important;
  margin-left: 20px;
}

/* TODO: don't use ::ng-deep */
::ng-deep .mat-mdc-text-field-wrapper {
  width: 100% !important;
  max-width: 600px !important;
  border-radius: 20px 20px 0 0 !important;
  background-color: transparent !important;
  border: none !important;
  color: #07224d !important;
  padding: 0 10px !important;
  margin: 0 20px !important;
  font-size: 16px !important;
}

/* TODO: don't use ::ng-deep */
::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  width: 100% !important;
}

.autocomplete-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.autocomplete-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 10px;
}

.user-actions-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons {
  color: #07234b;
  margin: 5px;
}
