.header-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #eaeaea 0%, #efefef 50%, #eaeaea 100%);
    font-family: 'Trebuchet MS', sans-serif;
}

.logo {
    height: 90px;
    border-radius: 90px;
    margin-left: 5px;
}

.title {
    height: 100px;
}

.profile {
    height: 75px;
    border-radius: 90px;
    margin-right: 5px;
}