.comment {
  border: 1px solid var(--primary-dark-transparent);
  background-color: var(--primary-gray);
  border-radius: 5px;
  padding: 5px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  .comment-content .meta {
    font-size: 13px;
    color: var(--text-color-meta);
  }

  .replies {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid var(--primary-dark-transparent);
  }

  .reply {
    border: none;
    background-color: transparent;
  }
}
