<div [ngClass]="isReply ? 'reply' : 'comment'" *ngIf="comment">
  <div class="comment-content">
    <p class="meta">
      <strong>{{ comment.author }}</strong> |
      {{ getRelativeTime(comment.createdAt) }}
    </p>
    <p class="content">{{ comment.content }}</p>
    <div class="meta likes-dislikes">
      <span><mat-icon>thumb_up</mat-icon> {{ comment.likes }}</span> |
      <span><mat-icon>thumb_down</mat-icon> {{ comment.dislikes }}</span>
    </div>
  </div>

  <!-- Replies Section -->
  <div class="replies" *ngIf="comment.replies.length">
    <ng-container *ngFor="let reply of comment.replies">
      <app-comment [comment]="reply" [isReply]="true"></app-comment>
    </ng-container>
  </div>
</div>
