<ng-container *ngIf="!isLoading; else loadingSpinner">
  <ng-container *ngIf="!boardDoesNotExist; else boardNotFound">
    <div class="board-wrapper">
      <!-- Board Header -->
      <div class="board-header">
        <h1>b/{{ boardId }}</h1>
      </div>

      <!-- Posts -->
      <div class="board">
        <div
          *ngFor="let post of posts"
          appearance="outlined"
          class="post-container"
        >
          <app-post [post]="post" [isHomepage]="false"></app-post>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #boardNotFound>
    <div class="board">
      <div class="board-not-found">
        <h2>Board Not Found</h2>
        <p>The board you are looking for does not exist.</p>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-template #loadingSpinner>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
