<div class="overall-wrapper" *ngIf="post">
  <div class="post-and-comments-wrapper">
    <!-- Post -->
    <div class="post">
      <h2 class="post-title">{{ post.title }}</h2>
      <div class="meta">
        <p>{{ post.author }} | {{ getRelativeTime(post.createdAt) }}</p>
      </div>
      <p class="content">{{ post.content }}</p>
      <img *ngIf="post.image" [src]="post.image" alt="Post Image" />
      <app-likes-dislikes [postOrComment]="post"></app-likes-dislikes>
    </div>

    <!-- Comments -->
    <div class="comments-section" *ngIf="post.comments.length">
      <h3>Comments ({{ post.commentsCount }})</h3>
      <ng-container *ngFor="let comment of post.comments">
        <app-comment [comment]="comment"></app-comment>
      </ng-container>
    </div>

    <!-- No Comments -->
    <div class="no-comments" *ngIf="!post.comments.length">
      <h3>No comments yet</h3>
      <p>Be the first to comment!</p>
      <button (click)="showCommentForm = true" class="add-comment-button">
        Add Comment
      </button>
    </div>
  </div>
</div>
