.likes-dislikes {
  font-size: 13px;
  color: var(--text-color-meta);
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  padding: 10px;
  border: 1px solid var(--primary-dark-transparent);
  border-radius: 50px;
  margin-bottom: 10px;
}

.likes-dislikes span {
  display: flex;
  align-items: center;
}

.likes-dislikes mat-icon {
  font-size: 18px;
  height: auto;
  transition: color 0.2s;
  &:hover {
    color: var(--primary-light);
    cursor: pointer;
  }
}
