<div class="post">
  <div class="title-and-board">
    <a href="#" class="post-title">{{ post.title }}</a>
    <a href="#" class="post-board">{{ post.board }}</a>
  </div>
  <div class="meta">
    <p>{{ post.author }} | {{ getRelativeTime(post.createdAt) }}</p>
  </div>
  <p class="content">{{ post.content }}</p>
  <img *ngIf="post.image" [src]="post.image" alt="Post Image" />
  <div class="meta">
    <p>
      <strong>Likes:</strong> {{ post.likes }} | <strong>Dislikes:</strong>
      {{ post.dislikes }}
    </p>
    <p><strong>Comments:</strong> {{ post.commentsCount }}</p>
  </div>
</div>
