<div class="post">
  <!-- Subreddit name (e.g., r/funny) -->
  <a *ngIf="isHomepage" [routerLink]="['b', post.subreddit]" class="post-board">
    b/{{ post.subreddit }}
  </a>

  <!-- Post title -->
  <a [routerLink]="[post.permalink]" class="post-title">
    {{ post.title }}
  </a>

  <!-- Author and relative time -->
  <div class="meta">
    <p>{{ post.author }} | {{ getRelativeTime(post.created_utc * 1000) }}</p>
  </div>

  <!-- Self text (if exists) -->
  <p *ngIf="post.selftext" class="content">
    {{ post.selftext }}
  </p>

  <!-- Image preview (if available and not a video) -->
  <img
    *ngIf="post.preview?.images?.length && !post.is_video"
    [src]="decodeHtmlEntities(post.preview!.images![0].source.url)"
    alt="Post Image"
  />

  <!-- Reddit hosted video -->
  <video
    *ngIf="post.is_video && post.media?.reddit_video"
    [src]="post.media.reddit_video?.fallback_url"
    controls
  ></video>

  <!-- Likes and Comments -->
  <div class="meta">
    <app-likes-dislikes [postOrComment]="post"></app-likes-dislikes>
    <p><strong>Comments:</strong> {{ post.num_comments }}</p>
  </div>
</div>
