<div class="post">
  <a *ngIf="isHomepage" [routerLink]="['/b', post.board]" class="post-board">
    b/{{ post.board }}
  </a>
  <a
    [routerLink]="['/b', post.board, 'comments', post.id]"
    class="post-title"
    >{{ post.title }}</a
  >
  <div class="meta">
    <p>{{ post.author }} | {{ getRelativeTime(post.createdAt) }}</p>
  </div>
  <p class="content">{{ post.content }}</p>
  <img *ngIf="post.image" [src]="post.image" alt="Post Image" />
  <div class="meta">
    <app-likes-dislikes [postOrComment]="post"></app-likes-dislikes>
    <p><strong>Comments:</strong> {{ post.commentsCount }}</p>
  </div>
</div>
