.post {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  width: auto;
  height: 100%;
  font-family: "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: inherit;
  background-color: var(--secondary-dark);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  &:hover {
    color: var(--primary-light);
    background-color: var(--secondary-dark-hover);
  }
}

.post-title {
  font-size: 1.5em;
  color: var(text-color);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.post-board {
  text-decoration: none;
  color: var(--text-color);
}

.post-title:hover,
.post-board:hover {
  color: var(--primary-light);
  text-decoration: underline;
}

.post .meta p {
  font-size: 13px;
  color: var(--text-color-meta);
}

.post .meta mat-icon {
  font-size: 18px;
  height: auto;
  transition: color 0.2s;
  &:hover {
    color: var(--primary-light);
    cursor: pointer;
  }
}

.post p {
  color: var(--text-color);
  margin: 0;
}

.post img,
.post video {
  max-height: 75vh;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post .likes {
  color: green;
  font-weight: bold;
}

.post .dislikes {
  color: red;
  font-weight: bold;
}
