@use "@angular/material" as mat;

// Define custom dark-ish theme palettes
$custom-primary: mat.define-palette(
  mat.$deep-purple-palette,
  300
); // Lighter soft purple (#9575cd)

$custom-accent: mat.define-palette(
  mat.$teal-palette,
  A100
); // Softer teal (#a7ffeb)

$custom-theme: mat.define-dark-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
    ),
  )
);

// Apply the theme to Angular Material components
@include mat.all-component-themes($custom-theme);

// Slightly softened dark theme with purple hints
:root {
  --primary-black: #181818;
  --primary-dark: #222034;
  --primary-dark-hover: #2f2a44;
  --secondary-dark: #2a263b;
  --secondary-dark-hover: #3b3554;
  --primary-purple: #9575cd; // More noticeable purple
  --accent-teal: #a7ffeb;
  --primary-gray: #252525;
  --primary-dark-transparent: #181818cc;
  --background-gradient-start: #201c2b;
  --background-gradient-middle: #2a223c;
  --background-gradient-end: #201c2b;
  --text-color: #eaeaea;
  --text-color-meta: #b3aecd;
}

app-root {
  display: block;
  min-height: 100vh;
  overflow: visible;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background: linear-gradient(
    to right,
    var(--background-gradient-start) 0%,
    var(--background-gradient-middle) 50%,
    var(--background-gradient-end) 100%
  );
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--text-color);

  .primary-button {
    background-color: var(--primary-light);
    color: var(--primary-white);
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0ss;
    margin: 10px 0;
    &:hover {
      background-color: var(--primary-light-hover);
    }
  }

  .secondary-button {
    background-color: var(--secondary-light);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0ss;
    margin: 10px 0;
    &:hover {
      background-color: var(--secondary-light-hover);
    }
  }
}

html,
body {
  height: 100%;
}
