@use "@angular/material" as mat;

$custom-primary: mat.define-palette(
  mat.$cyan-palette,
  600
); // #07969e as primary
$custom-accent: mat.define-palette(
  mat.$blue-grey-palette,
  900
); // #07234b as accent
$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
    ),
  )
);

@include mat.all-component-themes($custom-theme);

:root {
  --primary-white: #fcfcfa;
  --primary-light: #07969e;
  --primary-dark: #07234b;
  --background-gradient-start: #eaeaea;
  --background-gradient-middle: #efefef;
  --background-gradient-end: #eaeaea;
  --text-color: #000;
}

app-root {
  display: block;
  min-height: 100vh;
  overflow: visible;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background: linear-gradient(
    to right,
    var(--background-gradient-start) 0%,
    var(--background-gradient-middle) 50%,
    var(--background-gradient-end) 100%
  );
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--text-color);
}

html,
body {
  height: 100%;
}
