@use "@angular/material" as mat;

// Define custom dark-ish theme palettes
$custom-primary: mat.define-palette(
  mat.$deep-purple-palette,
  300
); // Lighter soft purple (#9575cd)

$custom-accent: mat.define-palette(
  mat.$teal-palette,
  A100
); // Softer teal (#a7ffeb)

$custom-theme: mat.define-dark-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
    ),
  )
);

// Apply the theme to Angular Material components
@include mat.all-component-themes($custom-theme);

// Slightly softened dark theme with purple hints
:root {
  --primary-black: #181818;
  --primary-dark: #0e1116;
  --primary-dark-hover: #201725;
  --secondary-dark: #1c1f26;
  --secondary-dark-hover: #201725;
  --primary-purple: #3d1e73;
  --accent-purple: #561cba;
  --accent-purple-hover: #7027ee;
  --primary-gray: #252525;
  --primary-dark-transparent: #181818cc;
  --background-gradient-sides: #0e1116;
  --background-gradient-middle: #412c4d;
  --text-color: #f8f9fa;
  --text-color-meta: #b3aecd;
}

app-root {
  display: block;
  min-height: 100vh;
  overflow: visible;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background: linear-gradient(
    to bottom right,
    var(--background-gradient-sides) 0%,
    var(--background-gradient-middle) 50%,
    var(--background-gradient-sides) 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--text-color);

  .primary-button {
    background-color: var(--primary-purple);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0ss;
    margin: 10px 0;
    &:hover {
      background-color: var(--primary-purple-hover);
    }
  }

  .secondary-button {
    background-color: var(--secondary-light);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0ss;
    margin: 10px 0;
    &:hover {
      background-color: var(--secondary-light-hover);
    }
  }
}

html,
body {
  height: 100%;
}
